.title {
    font-size: 26px;
    font-weight: 900;
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  }
  
  .controls {
    @media (max-width: 300) {
      flex-direction: column-reverse;
    }
  }
  
  .control {
    @media (max-width:300) {
      width: 100%;
      text-align: center;
    }
  }